#Sun Jun 11 19:45:57 CDT 2017
Botones=19

Nombre0=
SonidoU0=./Sonidos/SONIDO DE EFECTO DE DISCO RAYADO ESTILO DJ 2015 EL MAS USADO.mp3
SonidoW0=Sonidos\\SONIDO DE EFECTO DE DISCO RAYADO ESTILO DJ 2015 EL MAS USADO.mp3
ImagenU0=./Imagenes/vinilo-music-player_318-86034.jpg
ImagenW0=Imagenes\\vinilo-music-player_318-86034.jpg
Tooltip0=NADA

Nombre1=Abucheos
SonidoU1=./Sonidos/Abucheos.mp3
SonidoW1=Sonidos\\Abucheos.mp3
ImagenU1=./Imagenes/dislike.png
ImagenW1=Imagenes\\dislike.png
Tooltip1=NADA

Nombre2=Aplausos
SonidoU2=./Sonidos/Aplausos.mp3
SonidoW2=Sonidos\\Aplausos.mp3
ImagenU2=./Imagenes/Clap.png
ImagenW2=Imagenes\\Clap.png
Tooltip2=NADA

Nombre3=
SonidoU3=./Sonidos/Ba Dum Tss.mp3
SonidoW3=Sonidos\\Ba Dum Tss.mp3
ImagenU3=./Imagenes/ba dum tss.png
ImagenW3=Imagenes\\ba dum tss.png
Tooltip3=NADA

Nombre4=
SonidoU4=./Sonidos/CAMPANA DE BOX.mp3
SonidoW4=Sonidos\\CAMPANA DE BOX.mp3
ImagenU4=./Imagenes/campanaBox.jpg
ImagenW4=Imagenes\\campanaBox.jpg
Tooltip4=NADA

Nombre5=
SonidoU5=./Sonidos/Efectos De Sonido #8 _ Vidrios Rotos _ Sin Copyright.mp3
SonidoW5=Sonidos\\Efectos De Sonido #8 _ Vidrios Rotos _ Sin Copyright.mp3
ImagenU5=./Imagenes/vidrio roto.jpg
ImagenW5=Imagenes\\vidrio roto.jpg
Tooltip5=Vidrios rotos

Nombre6=X files
SonidoU6=./Sonidos/Illuminati (X Files) Sound Effect [HQ][Free Download].mp3
SonidoW6=Sonidos\\Illuminati (X Files) Sound Effect [HQ][Free Download].mp3
ImagenU6=NADA
ImagenW6=NADA
Tooltip6=NADA

Nombre7=
SonidoU7=./Sonidos/Redoble De Tambores Efecto De Sonido-Sin CopyRight-Drum Roll.mp3
SonidoW7=Sonidos\\Redoble De Tambores Efecto De Sonido-Sin CopyRight-Drum Roll.mp3
ImagenU7=./Imagenes/tambores.jpeg
ImagenW7=Imagenes\\tambores.jpeg
Tooltip7=Redoble de tambores

Nombre8=
SonidoU8=./Sonidos/Retrete.mp3
SonidoW8=Sonidos\\Retrete.mp3
ImagenU8=./Imagenes/Retrete.gif
ImagenW8=Imagenes\\Retrete.gif
Tooltip8=NADA

Nombre9=
SonidoU9=./Sonidos/sonido caja registradora.mp3
SonidoW9=Sonidos\\sonido caja registradora.mp3
ImagenU9=./Imagenes/dolar.jpg
ImagenW9=Imagenes\\dolar.jpg
Tooltip9=Sonido de caja registradora

Nombre10=Mal chiste
SonidoU10=./Sonidos/Sonido de un grillo cantando (Efecto de sonido).mp3
SonidoW10=Sonidos\\Sonido de un grillo cantando (Efecto de sonido).mp3
ImagenU10=./Imagenes/grillo.jpeg
ImagenW10=Imagenes\\grillo.jpeg
Tooltip10=NADA

Nombre11=
SonidoU11=./Sonidos/Sound Fail.mp3
SonidoW11=Sonidos\\Sound Fail.mp3
ImagenU11=./Imagenes/fail.png
ImagenW11=Imagenes\\fail.png
Tooltip11=cua cua cuuaaa

Nombre12=
SonidoU12=./Sonidos/Terror Clasico.mp3
SonidoW12=Sonidos\\Terror Clasico.mp3
ImagenU12=./Imagenes/Horror_icon-icons.com_54174.png
ImagenW12=Imagenes\\Horror_icon-icons.com_54174.png
Tooltip12=Musica de la clasica escena de la regadera

Nombre13=CERDO
SonidoU13=./Sonidos/EFECTOS DE SONIDO    Cerdo llorando.mp3
SonidoW13=Sonidos\\EFECTOS DE SONIDO    Cerdo llorando.mp3
ImagenU13=NADA
ImagenW13=NADA
Tooltip13=NADA

Nombre14=CUCARACHA
SonidoU14=./Sonidos/La cucaracha horn test for GTA SA Sound Effect.mp3
SonidoW14=Sonidos\\La cucaracha horn test for GTA SA Sound Effect.mp3
ImagenU14=NADA
ImagenW14=NADA
Tooltip14=NADA

Nombre15=
SonidoU15=./Sonidos/Sad Violin - Air Horn Sound Effect (MLG) CORTO.mp3
SonidoW15=Sonidos\\Sad Violin - Air Horn Sound Effect (MLG) CORTO.mp3
ImagenU15=./Imagenes/MLG air horn.jpg
ImagenW15=Imagenes\\MLG air horn.jpg
Tooltip15=NADA

Nombre16=Claxon DF
SonidoU16=./Sonidos/Claxon de Micro Del D.F ByGtagamermester! FIXED.mp3
SonidoW16=Sonidos\\Claxon de Micro Del D.F ByGtagamermester! FIXED.mp3
ImagenU16=NADA
ImagenW16=NADA
Tooltip16=NADA

Nombre17=
SonidoU17=./Sonidos/chivo gritando FIXED.mp3
SonidoW17=Sonidos\\chivo gritando FIXED.mp3
ImagenU17=./Imagenes/chivo gritando FIXED.jpg
ImagenW17=Imagenes\\chivo gritando FIXED.jpg
Tooltip17=NADA

Nombre18=Silbido sexy
SonidoU18=./Sonidos/Silbido Sexy FIXED.mp3
SonidoW18=Sonidos\\Silbido Sexy FIXED.mp3
ImagenU18=NADA
ImagenW18=NADA
Tooltip18=NADA

